html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

.header {
  background: white;
  color: #333;
  position: fixed;
  /* this could also be width: 100%; // right, left 0 pins edge of div to very edge of page */
  left: 0;
  right: 0;
  height: 40px;
  top: 0;
}

.header-content {
  max-width: 930px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.header-content input {
  display: none;
}
@media (min-width: 700px) {
  .header-content input {
    display: block;
  }
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav li {
  display: inline-block;
}
main {
  max-width: 930px;
  margin: 4rem auto;
  border: 3px dashed red;
}

.logo {
  border-radius: 50%;
  width: 70px;
  justify-self: center;
}

.user-info {
  border: 3px dashed blue;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, auto);
}
.user-info h1 {
  margin: 0;
}
.user-info p {
  grid-column: 1 / -1;
}
.user-stats {
  grid-column: 1 / -1;
  grid-row: 3;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 700px) {
  .logo {
    width: 152px;
  }
  .user-info {
    grid-template-columns: 1fr 2fr;
  }
  .user-info p {
    grid-column: auto;
  }
  .user-stats {
    grid-column: auto;
    grid-row: auto;
    display: block;
  }
  .logo {
      width: 152px;
      grid-row: 1 /-1;
  }
}
.news-feed {
  border: 3px dashed blue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
@media (min-width: 700px) {
  .news-feed {
    grid-gap: 28px;
  }
}
.news-feed img {
  width: 100%;
}

.feed-nav {
  display: flex;
  justify-content: center;
}
.feed-nav a {
  display: block;
  padding: 10px;
}
